body {
  background-color: #a9e2f5;
  align-content: center;
}

body::after {
  content: "";
  background-image: url("../img/climateContrast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  position: fixed;
  z-index: -1;
}

#content {
  background-color: #FFFCE3;
  width: 45%;
  min-height: 500px;
  padding: 15px;
  margin: auto;
  border: solid 5px #d4efec;
  font-size: 18px;
  border-radius: 5%;
}

#intro {
  background-color: #FFFFFF;
  border: solid 2px #000000;
  border-radius: 5%;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

#solar {
  color: #FFAC00;
  background-color: #FFFFFD;
  border: solid 2px #FFAC00;
  border-radius: 5%;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

#wind {
  color: #446D6B;
  background-color: #FAFFFE;
  border: solid 2px #446D6B;
  border-radius: 5%;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

#nuclear {
  color: #0BE700;
  background-color: #FAFFFA;
  border: solid 2px #23EB19;
  border-radius: 5%;
  padding: 15px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}

#authors {
  padding: 15px;
  margin: 3%;
  text-align: center;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
}

.row {
  display: flex;
}

.column {
  flex: 25%;
  margin: 2%;
}

#Logan {
  border-radius: 50%;
}

#Dylan {
  border-radius: 50%;
}

#Akilah {
  border-radius: 50%;
}

#Nkem {
  border-radius: 50%;
}

.expand {
  display: none;
}

.solarL1{
  display: none;
}

.solarL2{
  display: none;
}

.windL1{
  display: none;
}

.windL2{
  display: none;
}

.nuclearL1{
  display: none;
}

.nuclearL2{
  display: none;
}

a:link {
  text-decoration: none;
  color: teal;
}

a:visited {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}
